.elementor-7 .elementor-element.elementor-element-e5173d6{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}@media(min-width:768px){.elementor-7 .elementor-element.elementor-element-e5173d6{--width:100%;}}/* Start custom CSS for wc-elements, class: .elementor-element-1b05cd0 */a.checkout-button.button.alt.wc-forward {
    border-radius: 0 !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-e5173d6 */.sober-container {
	max-width: 100% !important;
	margin: 0 auto;
}/* End custom CSS */
/* Start custom CSS *//*Basket page Colours*/
.woocommerce-cart table.cart {
    color: var( --e-global-color-accent ) !important;
}

/*Basket page Colours*/
.woocommerce .quantity .qty {
	 color: var( --e-global-color-accent ) !important;
}

/*Basket page Colours*/
td.product-name {
	color: var( --e-global-color-accent ) !important;
}

/*Basket page Colours*/
.woocommerce a.remove {
	color: var( --e-global-color-accent ) !important;
}

.elementor *, .elementor :after, .elementor :before {
color: var( --e-global-color-accent ) !important;
}/* End custom CSS */